{% extends "base.html" %}

{% block title %}Projects | EVRICA{% endblock %}

{% block body %}
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1" style="margin-bottom: 30px;">
    {% for project in projects %}
    <div class="col mb-4" style="margin-top: 10px;">
        <a href="/project/{{ project.id }}" class="text-decoration-none">
            <div class="card h-100">
                <img src="/static/images/{{ project.project_img }}" class="card-img-top" alt="Project Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ project.title }}</h5>

                    <div class="mt-auto">
                        <p class="card-text">{{ project.deadline }}</p>
                        <a href="/delete_project/{{ project.id }}" styles="margin-right: 3px;" class="btn btn-danger btn-sm float-end me-2">Delete</a>
                        <a href="/edit_project/{{ project.id }}" class="btn btn-info btn-sm float-end">Edit</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

