{% extends "base_for_sign.html" %}

{% block title %}Sign In | EVRICA{% endblock %}

{% block body %}
<div class="container bg-white mt-3 p-3 rounded shadow" style="margin-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-container">
                <h2 class="text-center mb-4">Sign In</h2>

                <form method="post">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.Email(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {{ form.Password(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form.Sign_In(class="btn btn-primary w-100") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

